.header {
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    height: 6em;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}

.header__left {
    display: flex; 
}

.header__logo {
    width: 5em;
    height: 5em;
    position: relative;
    padding: 1em;
}

.header__menu {
    display: none;
}

.nav-menu {
    display: flex;
    gap: 1em; 
    margin-top: 2em;
    cursor: pointer;

    & button {
        background-color: #4662F5;
        color: white;
        padding: .4em .8em;
        font-size: 18px;
        border-radius: .5em;
        border: none;
        cursor: pointer;
        transition: all .4s ease;
    }

    & button:hover {
        background-color: #4720F5;
    }

    & a {
       text-decoration: none;
       color: white; 
    }
}

.nav-menu li:nth-child(1) {
    order: 1;
}

.nav-menu li:nth-child(2) {
    order: 2;
}

.nav-menu__opcoes{
    white-space: pre-line;
    line-height: 1.5em;
    margin-top: -.3em;
}

.nav-menu__link {
    display: flex;
}

.nav-menu__text-motion {
    margin-left: 1em;
}

.nav-menu__text:hover {
    color: #555555;
    transition: all .4s ease;
}

.nav-menu__icon {
    width: 1em;
}

.submenu--motion {
    position: absolute;
    top: 70%;
    left: 10em;
    border: 1.5px solid #555555;
    border-radius: 14px;
    padding: 1.5em 2em;
    line-height: 2.5em;
    display: none;
    background-color: black;
}

.submenu__icon {
    width: 1em;
}

.submenu--resources {
    display: flex;
    position: relative;
    left: 13em;
    border: 1.5px solid #555555;
    background-color: black;
    border-radius: 10px;
    padding: 2em;
    width: 40%;
    top: 70%;
    position: absolute;
    display: none;
}

.submenu__list {
    line-height: 2.5em;
    padding-top: 1em;
    position: absolute;
}

.submenu__item {
    display: flex;
    gap: .8em;
    align-items: center;
}

.submenu__item:hover {
    color: #555555;
    transition: all .4s ease;
}

.submenu__text--img {
    margin-left: 10em;

    & h2 {
        margin-left: 2em;
    }
}

.submenu__title {
    white-space: pre-line;
    font-weight: 900;
    line-height: 1.5em;
    font-size: 20px;
}

.submenu__content {
    display: flex;

    & p {
        font-size: 16px;
    }
}

.submenu__image {
    width: 7em;
    border-radius: 1em;
    margin: 3em 2em 0 2em;
}

#central-info {
    scroll-margin-top: 150px;
}

#ia {
    scroll-margin-top: 100px; 
}

#painel {
    scroll-margin-top: -100px;
}

#content-especialistas {
    scroll-margin-top: 200px;
}

.content__text {
    & p {
        margin-top: 2em;
        margin-bottom: 1.5em;
        line-height: 1.3em;
        font-size: 14px;
    }

    & .content__text-link {
        text-decoration-color: white;
        color: white;
        font-size: 14px
    }

    & .content__text-link:hover {
        text-decoration: none;
        color: #555555;
        transition: all .4s ease;
    }
}

#opcoes {
    margin-right: 2em;
}

#clientes-feedback {
    scroll-margin-top: 100px;
}

@media screen and (max-width: 1024px) {

    .header {
        display: flex;
        justify-content: space-between;
        gap: 0;
        flex-direction: column;
    }

    .header__mobile {
        display: flex;
        justify-content: space-between;
    }

    .header__responsivo {
        display: flex;
        flex-direction: column;
        margin-left: 2em;
    }
    
    .header__logo {
        width: 8em;
        height: 8em;
    }

    .header__menu {
        display: flex;
        width: 5em;
    }

    .nav-menu {
        flex-direction: column;
        margin-top: .6em;
        gap: 1.5em;
    }

    .nav-menu__text-motion {
        margin-left: 0;
    }

    .nav-menu__opcoes {
        white-space: nowrap;
    }

    .nav-menu li:nth-child(1) {
        order: 2;
    }
    
    .nav-menu li:nth-child(2) {
        order: 1;
    }
    
    .nav-menu__botao {
        width: 90vw;
        height: 3em;
    }

    .submenu--motion {
        position: static; 
        border: none;
        border-radius: 0;
        padding: 0;
        background-color: transparent;
        display: none;
        flex-direction: column;
    }

    .submenu--motion li {
        padding: 0.5em 0;
        font-size: 1em;
    }

    .submenu--motion.show {
        display: flex;
    }

    .nav-menu__rec {
        display: none;
    }

}